/* App.css */
.typewriter {
    font-size: 1.5rem; 
    color: #635d5c;
    padding-bottom: 10px;
    font-weight:700;
    /* font-family: 'Italianno', serif; */
    overflow: hidden;
    display: inline-block;
    border-right:none; /* Style du curseur */
  }
  
  .cursor {
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
  }